
 body {
     background-image:url(/images/multi-wings.png);
     /* background-image:url(/images/wingSpotbkgd.png); */
     background-color: white;
 }

 #home{
    background-image: url('/images/wingSpotbkgd.png');
 }

 .bg-red {
     background: black;
     display: flex;
     justify-content: space-around;
 }
 
 #header{
     align-content: center;
     font-weight: bold;
     display:flex;
     justify-content: flex-start;
 }

 .mx-auto{
     display: flex;
     justify-content: left;
     align-content: center;
 }

 #users{
    background: black;
    display:flex;
    justify-content: center;
 }

.text-center{
    margin-left:400px;
}