
 body {
     background-image:url(/images/multi-wings.png);
     background-color: white;
 }

 .bg-red {
     background: black;
     display: flex;
     justify-content: space-around;
 }
 
 #header{
     align-content: center;
     font-weight: bold;
     display:flex;
     justify-content: flex-start;
 }
