<body class='home'>
    <div>
        <div class="splash">
        <h3>The Wing Spot is a place for Wing Fanatics to share a review of their favorite Chicken  </br> &nbsp; Wing Establishments. Hot, Mild, Spicy, BBQ, baked, fried, grilled even the recently&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  popular "Un-Chicken Wings", for our beloved vegans. Please share your spot.</h3>
    </div>
    </div>
    
    

</body>