<main>
    <h1>
        WingSpot Afficioandos
    </h1>

    {{#each users}}
    <div class="users-container">
        <h3>
            <a href="/{{_id}}">
                {{name}}
            </a>
        </h3>
    </div>
    {{/each}}

</main>