<main>

    <h1>Create New Wing Spot</h1>

    

    <div id="edit-form" class="wingspots-container-show">

        <form action="/users/{{user._id}}/wingspots" method="POST">
            <div>
                <label for="name">Name: </label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="location">Location: </label>
                <input type="text" name="location">
            </div>
            <div>
                <label for="ambiance">Ambiance: </label>
                <input type="text" name="ambiance">
            </div>
            
           
            <button type="submit">Create New Wing Spot</button>
        </form>
    </div>
</main>